.modal-dialog {
    top: 50%;
    transform: translate(0, -50%) !important;

    .modal-header {
        .modal-title {
            font-size: 2rem;
        }

        button {
            padding-top: 5px;
            padding-right: 12px;
            span {
                font-size: 4rem;
            }
        }
    }
}
