// =========  Carousel Custom  =========

#doctor-section {
    .slick-slider {
        --gap50: 4px;
        margin-right: calc(-1 * var(--gap50));
        margin-left: calc(-1 * var(--gap50));

        .doctor-slider {
            height: 270px;
            padding-left: var(--gap50);
            padding-right: var(--gap50);

            > div {
                width: 100%;
                height: 100%;
                padding-top: 15px;
                border: 1px solid #eee;
                text-align: center;
                cursor: pointer;

                &:hover {
                    color: #45c3d2;
                }

                img {
                    margin-left: auto;
                    margin-right: auto;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }

                p {
                    padding-top: 15px;
                    padding-left: 8px;
                    padding-right: 8px;
                    font-size: 1.35rem;
                }
            }
        }

        --btn-move: -25px;
        .slick-prev {
            left: var(--btn-move);
        }
        .slick-next {
            right: var(--btn-move);
        }

        .slick-prev,
        .slick-next {
            top: 50%;
            z-index: 50;
            width: 44px;
            height: 48px;
            cursor: pointer;
            border: none;
            outline: none;
            background: transparent;
            color: transparent;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }

            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                box-sizing: border-box;
                font-family: FontAwesome;
                line-height: 44px;
                font-size: 30px;
                background-color: #fff;
                border: 2px solid #d7d7d7;
                color: #959595;
                text-align: center;
            }
        }

        .slick-next {
            &::before {
                content: '\276F';
            }
        }

        .slick-prev {
            &::before {
                content: '\276E';
            }
        }

        .slick-disabled {
            display: none !important;
            // &::before {
            //     content: '' !important;
            //     border: none !important;
            // }
        }
    }
}
